*{
    padding: 0;
    margin: 0;
}
.container{
    background-color: blueviolet;
     width: 100vw;
     height: 100vh;
    position: relative;
}
#task1{
    font-size: 3.5vw;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 5vw;
    left: 10vw;
}
#list1{
    font-size: 3.5vw;
    color: wheat;
    position: absolute;
    top: 5vw;
    left: 19vw;
}

#task2{
    font-size: 2vw;
    color: wheat;
    position: absolute;
    top: 11vw;
    left: 10vw;
}
a{
    text-decoration: none;
}
.plus{
    position: absolute;
    right: 20vw;
    top:6vw;
    color: wheat;
    font-size: 35px;
    background-color: black;
}
.fa-solid{
    position: absolute;
    top: 6px;
    opacity: 1;
    background-color: white;
    border-radius: 50%;
    color: rgb(43, 163, 210);
    right: 11vw;
} 
#firstparent {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position:absolute;
    width:100vw;
    top:30vh;
    background-color: black;
    padding-top: 20px;

} 

#card1{
    border:3px solid darkblue;
    border-radius:2vw;
    background-color: white;
    height:220px;
    width:450px;
    text-align: center;
    color:darkblue;
    font-size:25px;
    z-index:5;
    position: absolute; 
    top:16vw;
    left:35vw;
    display:none;
} 
h3{
    position: absolute;
    top: 1vw;
    left:10vw;
}

input {
     border:2px solid darkblue;
     border-radius:1vw;
     height:2.5vw;
     width:25vw;
     position: absolute;
     top: 4.5vw;
     left: 4.3vw;
     font-size: 20px;
} 
button {
    color:white;
    background-color: darkblue;
    border-radius:18px;
    width:9vw;
    padding:.6vw;
    font-size:18px;
    border: 1px solid darkblue;
}
#b1{
    position: absolute;
    top: 10vw;
    left: 7vw;
}
#b2{
    position: absolute;
    top: 10vw;
    left: 18vw;
}
.child{
    height:50vh;
    width:17vw;
    border:4px solid darkblue;
    color:darkblue;
    background-color:white;
    border-radius:1vw;
    position:relative;
    text-align: center;
    margin: 2vw;
    font-size: 2vw;
    padding: 1vw;
}
.deleteIcon{
    position:absolute;
    bottom:2vw;
    right:2vw;
    color: darkblue;
    font-size:25px;

}
.addIcon {
    position:absolute;
    top:21vw;
    right:6vw;
    color: darkblue;
    font-size:26px;
    border-radius: 50%;
}
.line {
    position: absolute;
    top: 4vw;
    width: 18.9vw;
    height: .2vw;
    left: 0;
    right: 0;

    background-color: darkblue;
}

#card2{
    border:3px solid darkblue;
    border-radius:2vw;
    background-color: white;
    height:220px;
    width:450px;
    text-align: center;
    color:darkblue;
    font-size:25px;
    z-index:5;
    position: absolute; 
    top:16vw;
    left:35vw;
    display:none;
}
.b1{
    position: absolute;
    top: 10vw;
    left: 7vw;
}
.b2{
    position: absolute;
    top: 10vw;
    left: 18vw;
}
.paragraph-styling {
    margin-top:15px;
    /* margin-top:15px; */
    cursor:pointer;
    font-size: 20px;
    color:darkblue;
}
